{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 49.6760718,
    "longitude": 8.5507797,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Berlin",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "DE",
    "language": "de",
    "radius": 100
  }
}